<config>
  <textRoot
      namespace="http://www.tei-c.org/ns/1.0"
      name="text"/>
  <droppedTree>
    <simpleElement
	namespace="http://www.tei-c.org/ns/1.0"
	name="fw"/>
  </droppedTree>
  <tokenizerControl>
    <linebreak
	namespace="http://www.tei-c.org/ns/1.0"
	name="lb"/>
    <linebreak
	namespace="http://www.tei-c.org/ns/1.0"
	name="l"/>
  </tokenizerControl>
  <specialCharacter>
    <hyphen char="-"/>
    <hyphen char="¬"/><!-- DTA uses not as hyphen -->
  </specialCharacter>
  <tcf>
    <tcfNamespace
	namespace="http://www.dspin.de/data/textcorpus"/>
    <idBase base="16"/>
    <idPrefix
	delimiter="_"
	length="2"/>
  </tcf>
</config>
